<div class="select-container row align-items-center">
    <div class="col-md-4 d-flex align-items-center">
        <span class="select-label">Select Employee:</span>
        <select [(ngModel)]="selectedEmployee" (change)="fetchEmployeeData()" class="form-control">
            <option disabled selected>Select Employee</option>
            <option *ngFor="let user of employees" [value]="user.empId">{{ user.username }}</option>
        </select>
    </div>

    <div class="col-md-4 d-flex align-items-center">
        <span class="select-label">Select Month:</span>
        <select [(ngModel)]="selectedMonth" class="form-control">
            <option disabled selected>Select Month</option>
            <option *ngFor="let month of months" [value]="month">{{ month }}</option>
        </select>
    </div>

    <div class="col-md-4 d-flex align-items-center">
        <span class="select-label">Enter Days:</span>
        <input type="number" id="workingDays" formControlName="workingDays" class="form-control working-days-input" #workingDaysInput (blur)="onWorkingDaysChange(workingDaysInput.value)">
    </div>
</div>


<div class="row justify-content-center align-items-center" [formGroup]="payrollDetailsForm">
    <!-- Earnings Card -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-gradient-primary">
                <h4 class="text-center">Earnings</h4>
            </div>
            <div class="card-body">
                <!-- Form fields for earnings -->
                <div class="form-group">
                    <label for="basicSalary">Basic Salary</label>
                    <input type="number" id="basicSalary" formControlName="basicSalary" class="form-control"  >
                </div>

                <div class="form-group">
                    <label for="HRA">House Rent Allowance (HRA)</label>
                    <input type="number" id="HRA" formControlName="HRA" class="form-control"  >
                </div>

                <div class="form-group">
                    <label for="CityAllowance">City Allowances</label>
                    <input type="number" id="CityAllowance" formControlName="CityAllowance" class="form-control"  >
                </div>
                <div class="form-group">
                    <label for="Con_Allowance">Convenience Allowances</label>
                    <input type="number" id="Con_Allowance" formControlName="Con_Allowance" class="form-control"  >
                </div>

                <div class="form-group">
                    <label for="Other">Other</label>
                    <input type="number" id="Other" formControlName="Other" class="form-control"  >
                </div>

                <div class="form-group">
                    <label for="Total_Earnings">Total Earning</label>
                    <input type="number" id="Total_Earnings" formControlName="Total_Earnings" class="form-control"  >
                </div>
            </div>
        </div>
    </div>

    <!-- Deductions Card -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h4 class="text-center">Deductions</h4>
            </div>
            <div class="card-body">
                <!-- Form fields for deductions -->
                <div class="form-group">
                    <label for="Provident_Fund">Provident Fund (P.F)</label>
                    <input type="text" id="Provident_Fund" formControlName="Provident_Fund" class="form-control"  >
                </div>

                <div class="form-group">
                    <label for="Professional_Tax">Professional Tax (P.Tax)</label>
                    <input type="number" id="Professional_Tax" formControlName="Professional_Tax" class="form-control"  >
                </div>

                <div class="form-group">
                    <label for="ESI_Mediclaim">Employee State Insurance (ESI) / Mediclaim</label>
                    <input type="text" id="ESI_Mediclaim" formControlName="ESI_Mediclaim" class="form-control"  >
                </div>

                <div class="form-group">
                    <label for="Total_Deductions">Total Deductions</label>
                    <input type="number" id="Total_Deductions" formControlName="Total_Deductions" class="form-control"  >
                </div>
            </div>
        </div>
    </div>
</div>


        <!-- Additional Card -->
<div class="col-md-5">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h4 class="text-center">Amount to be Transferred</h4>
        </div>
        <div class="card-body">
            <!-- Form field for amount to be transferred -->
            <div class="form-group">
                <label for="Amount_Transferred">Amount to be Transferred</label>
                <input type="number" id="Amount_Transferred" formControlName="Amount_Transferred" class="form-control">
            </div>
        </div>
    </div>
</div>

        <div class="d-flex justify-content-center">
            <div class="">
                <button class="btn" [ngClass]="isReadOnly ? 'btn-secondary' : 'btn-danger'" (click)="toggleEditMode()">
                    {{ isReadOnly ? 'Edit' : 'Cancel' }}
                </button>                
                <button class="btn btn-success mx-2"(click)="submit()">Submit</button>
            </div>
        </div>        


