<div class="card">
  <h5 class="card-header bg-gradient-primary">Leave Application Form</h5>
  <div class="card-body">
    <div class="leave-application">
      <form (submit)="submitLeaveApplication()" #leaveForm="ngForm">
        <div class="form-group">
          <label for="month">Select Month: </label>
          <select id="month" name="month" [(ngModel)]="selectedMonth" (change)="setMinMaxDates()">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate" [(ngModel)]="startDate" required [min]="minDate" [max]="maxDate">
        </div>
        
        <div class="form-group">
          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" name="endDate" [(ngModel)]="endDate" required [min]="minDate" [max]="maxDate">
        </div>
        
        <div class="form-group">
          <label for="reason">Reason:</label>
          <textarea id="reason" name="reason" [(ngModel)]="reason" required></textarea>
        </div>
        <button type="submit" [disabled]="!leaveForm.valid">Submit</button>
        <!-- Disable the button if the form is not valid -->
        <div class="overlay" *ngIf="showSpinner">
          <!-- Spinner container -->
          <div class="spinner-container">
            <!-- Your spinner HTML -->
            <div class="dot-spinner">
              <!-- Spinner dots -->
              <div class="dot-spinner__dot"></div>
              <div class="dot-spinner__dot"></div>
              <div class="dot-spinner__dot"></div>
              <div class="dot-spinner__dot"></div>
              <div class="dot-spinner__dot"></div>
              <div class="dot-spinner__dot"></div>
              <div class="dot-spinner__dot"></div>
              <div class="dot-spinner__dot"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
