<div class="container">
  <div class="header">
    <h2>Select Month:</h2>
    <select id="month" [(ngModel)]="selectedmonth" (change)="filter()" (click)="showcaseEarnings()">
      <option *ngFor="let month of months" [value]="month">{{ month }}</option>
    </select>
  </div>
  <div id="payslip-container" #content class="payslip-container" *ngIf="filterdata">
    <div class="company-details" >
      <div class="company-logo">
        <img src="../../../assets/transmogrify logo.jpg" alt="Company Logo" />
      </div>
      <div class="company-address">
        <p>Transmogrify Global Private Limited</p>
        <p>
          10ES6, 10th floor, EAST TOWER, MANI CASADONA IT BUILDING, <br />
          Newtown, Kolkata, <br />
          West Bengal 700156 <br />
        </p>
        <p>
          CIN : U71100WB2023PTC262992 <br />
          Pay Slip for {{ this.filterdata?.month }} , 2025 <br />
        </p>
      </div>
    </div>
    <div class="employee">
      <div class="employee-details">
        <h3>Employee Details</h3>
        <p>
          Employee Name: {{ this.employee?.firstName }}
          {{ this.employee?.lastName }}
        </p>
        <p>Employee ID: {{ this.employee?.empIDNO }}</p>
        <p>Date of Joining: {{ this.employee?.joiningDate }}</p>
        <p>PAN: {{ this.employee?.panNo }}</p>
        <p>UAN: {{ '102050745364' }}</p>
        <p>Standard Days: 30</p>
      </div>
      <div class="employee-address-details">
        <h3>Other Details</h3>
        <p>Mobile Number: {{ this.employee?.mobileNo }}</p>
        <p>Email: {{ this.employee?.p_email }}</p>
        <p>
          Bank Name: {{ this.employee?.employeedetails[0]?.bankAccountName }}
        </p>
        <p>Account: {{ this.employee?.employeedetails[0]?.bankAccountNo }}</p>
        <p>Working Days (this month): {{ this.filterdata?.workingDays }}</p>
      </div>
    </div>
    <div class="content">
      <div class="section earnings">
        <h3>Earnings</h3>
        <ul>
          <li>Basic Salary: {{ this.filterdata?.basicSalary }}</li>
          <li>HRA: {{ this.filterdata?.HRA }}</li>
          <li>City Allowance: {{ this.filterdata?.CityAllowance }}</li>
          <li>Convenience Allowance: {{ this.filterdata?.Con_Allowance }}</li>
          <li>Other: {{ this.filterdata?.Other }}</li>
          <li>Total Earnings: {{ this.filterdata?.Total_Earnings }}</li>
        </ul>
      </div>
      <div class="section deductions">
        <h3>Deductions</h3>
        <ul>
          <li>Provident Fund: {{ this.filterdata?.Provident_Fund }}</li>
          <li>Professional Tax: {{ this.filterdata?.Professional_Tax }}</li>
          <li>ESI/Mediclaim: {{ this.filterdata?.ESI_Mediclaim }}</li>
          <li>Other Deductions: {{ this.filterdata?.otherdeduction }}</li>
          <li>Total Deductions: {{ this.filterdata?.totaldeduction }}</li>
        </ul>
      </div>
    </div>
    <div class="net-payable">
      <h3>Amount Payable</h3>
      <p>
        <strong>Net Salary: INR {{ this.filterdata?.transferred_amount
          }}</strong>
      </p>
    </div>
    <div class="footer">
      <p>
        Visit our Official Website:
        <a href="https://transmogriffy.com/">Transmogrify Global Private
          Limited</a>
      </p>
      <p>
        Disclaimer: This is a computer-generated document and does not require a
        signature.
      </p>
    </div>
  </div>
  <button (click)="downloadPdf()">Download Payslip</button>
</div>