<div>
  <label for="month" style="color: whitesmoke; margin-right: 2rem;">Select Month: </label>
  <select id="month" [(ngModel)]="selectedmonth" (change)="filter()" (click)="showcaseEarnings()">
    <option *ngFor="let month of months" [value]="month">{{ month }}</option>
  </select>
</div>

<div *ngIf="filterdata">
  <form>
    <div class="row justify-content-center align-items-center" [formGroup]="payrollDetailsForm">
      <!-- Earnings Card -->
      <div class="col-md-5">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4 class="text-center">Earnings</h4>
          </div>
          <div class="card-body">
            <!-- Form fields for earnings -->
            <div class="form-group">
              <label for="basicSalary">Basic Salary</label>
              <input type="number" id="basicSalary" formControlName="basicSalary" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label for="HRA">House Rent Allowance (HRA)</label>
              <input type="number" id="HRA" formControlName="HRA" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label for="CityAllowance">City Allowances</label>
              <input type="number" id="CityAllowance" formControlName="CityAllowance" class="form-control" readonly>
            </div>
            <div class="form-group">
              <label for="Con_Allowance">Convenience Allowances</label>
              <input type="number" id="Con_Allowance" formControlName="Con_Allowance" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label for="Other">Other</label>
              <input type="number" id="Other" formControlName="Other" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label for="Total_Earnings">Total Earning</label>
              <input type="number" id="Total_Earnings" formControlName="Total_Earnings" class="form-control" readonly>
            </div>
          </div>
        </div>
      </div>

      <!-- Deductions Card -->
      <div class="col-md-5">
        <div class="card">
          <div class="card-header bg-danger text-white">
            <h4 class="text-center">Deductions</h4>
          </div>
          <div class="card-body">
            <!-- Form fields for deductions -->
            <div class="form-group">
              <label for="Provident_Fund">Provident Fund (P.F)</label>
              <input type="text" id="Provident_Fund" formControlName="Provident_Fund" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label for="otherdeduction">Others (If any)</label>
              <input type="text" id="otherdeduction" formControlName="otherdeduction" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label for="Professional_Tax">Professional Tax (P.Tax)</label>
              <input type="number" id="Professional_Tax" formControlName="Professional_Tax" class="form-control"
                readonly>
            </div>

            <div class="form-group">
              <label for="ESI_Mediclaim">Employee State Insurance (ESI) / Mediclaim</label>
              <input type="text" id="ESI_Mediclaim" formControlName="ESI_Mediclaim" class="form-control" readonly>
            </div>
            <div class="form-group">
              <label for="totaldeduction">Total Deductions</label>
              <input type="number" id="totaldeduction" formControlName="totaldeduction" class="form-control" readonly>
            </div>
          </div>
        </div>
        <!-- Additional Card -->
        <div class="col-md-5">
          <div class="card">
            <div class="card-header bg-success text-white">
              <h4 class="text-center">Transferred Amount</h4>
            </div>
            <div class="card-body">
              <!-- Form field for amount to be transferred -->
              <div class="form-group">
                <label for="transferred_amount">Recieved Amount</label>
                <input type="number" id="transferred_amount" formControlName="transferred_amount" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>