.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width:40%;
  margin-left: 30%;
  margin-top: 7%;
}

.bg-gradient-primary {
  background: linear-gradient(to right, #15395f, #38879b);
  text-align: center;
  color:aliceblue;
}

.employee-details-container {
  padding: 20px;
}

.detail-item {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.value {
  color: #555;
}

.loading-indicator {
  padding: 20px;
  text-align: center;
}
