.right-panel {
  width: 80%;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 7vh;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Transparent white */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .pending-leaves-container {
    max-height: calc(100vh - 200px);
    overflow-y: auto;

    h4 {
      margin-bottom: 20px;
      color: #194a81;
      font-size: 1.5rem;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: #0056b3;
      }
    }

    .leave-item {
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 5px;
      transition: transform 0.3s ease, background-color 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        background-color: rgba(0, 123, 255, 0.1);
      }

      p {
        margin: 0;
        line-height: 1.5;
        color: #2a2e2e;
        font-size: 1rem;

        strong {
          font-weight: bold;
        }
      }

      hr {
        border: 0;
        border-top: 1px solid #dee2e6;
        margin: 10px 0;
      }

      &.pending {
        background-color: #ffc107; // yellow
      }

      &.approved {
        background-color: #28a745; // green
      }

      &.rejected {
        background-color: #92f03a; // red
      }
    }
  }
}
