.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    
    h2 {
      color: #fffbfb;
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    select.custom-select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      margin-bottom: 20px;
      background-color: #f9f9f9;
  
      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  
    .card {
      border: none;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
  
      .card-header {
        background-color: #007bff;
        color: #fff;
        font-size: 20px;
        padding: 15px;
        background: linear-gradient(to right, #15395f, #38879b);
        text-align: center;
      }
  
      .card-body {
        padding: 20px;
  
        table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 20px;
  
          th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;
  
            &:first-child {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
  .download-button , .download-all-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.download-button:hover , .download-all-button:hover {
  background-color: #45a049; /* Darker green */
}

  