.card {
    margin-top: 0; /* Remove the top margin */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50vh;
  }
.card-fp-card{
    margin-top: 30%; 
}
  
  .card-header {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    width: 100%;
  }
  
  .container1 {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 94.1%;
    width: 200vh;
    background-image: url('../../../../assets/futuristic-business-scene-with-ultra-modern-ambiance.jpg');
    background-size: cover;
  }
  