<div class="container1">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card-fp-card">
        <div class="card forgot-password-card">
          <h5 class="card-header">Forgot Password</h5>
          <div class="card-body">
            <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="abcd123@gmail.com" [(ngModel)]="email" required>
              </div>
              <button type="submit" class="btn btn-dark custom-button">Reset Password</button>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

