<body>
  <div class="container">
      <div class="card">
        <h5 class="card-header bg-gradient-primary">Mark -Out</h5>
        <div class="card-body">
          <form>
    
            <div class="mb-3">
              <label for="time" class="form-label">Date & Time</label>
              <div class="input-group">
                <input type="datetime-local" class="form-control" id="time" name="time" [(ngModel)]="attendanceTime" placeholder="Choose Time">
              </div>
          </div>
          
            <div class="mb-3">
              <bs-timepicker [(ngModel)]="attendanceTime"></bs-timepicker>
            </div>
            <div class="mb-3 custom-flex-container">
              <button type="button" class="btn btn-success" (click)="submitAttendance()">Submit</button>
              <button type="button" class="btn btn-danger" (click)="skip()">Skip</button>
            </div>
            <div class="overlay" *ngIf="showSpinner">
              <!-- Spinner container -->
              <div class="spinner-container">
                <!-- Your spinner HTML -->
                <div class="dot-spinner">
                  <!-- Spinner dots -->
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                </div>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
    </body>
    