<div class="container">
  <h2>Select Employee</h2>
  <select [(ngModel)]="selectedEmployee" (change)="fetchEmployeeData()" class="custom-select" aria-label="select-employee">
      <option disabled selected>Select Employee</option>
      <option *ngFor="let employee of employees; let i = index" [value]="employee.empId">{{ employee.username }}</option>
  </select>

  <div *ngIf="selectedEmployee">

    <div class="card">
      <div class="card-header bg-gradient-primary">
        Leave Details
      </div>
      <div *ngIf="leaveDetails.length > 0">
        <h2>Leave Details</h2>
        <div *ngFor="let leaves of employeeDetails?.employee?.leaves; let i = index">
          <div class="card-body" *ngIf="leaves.leaveStatus === 'PENDING'">
            <p><strong>Start Date:</strong> {{ leaves.startDate | date: 'medium' }}</p>
            <p><strong>End Date:</strong> {{ leaves.endDate | date: 'medium' }}</p>
            <p><strong>Reason:</strong> {{ leaves.reason }}</p>
            <p><strong>Duration:</strong> {{ leaves.duration }}</p>
            <p><strong>Remaining Leave: </strong>{{this.leavecount}}</p>
            <div class="mb-3">
              <label for="leaveOptions{{i}}" class="form-label">Leave status:</label>
              <select class="form-select" id="leaveOptions{{i}}" name="leaveOptions{{i}}" [(ngModel)]="selectedLeaveStatus[i]">
                <option value="APPROVED">Approved(With Pay)</option>
                <option value="REJECTED">Approved(Without Pay)</option>      
              </select>
              <button type="button" class="btn btn-dark" (click)="updateLeaveStatus(leaves?.leaveId, selectedLeaveStatus[i])">
                Submit
              </button>
            </div>       
            <div class="overlay" *ngIf="showSpinner">
              <!-- Spinner container -->
              <div class="spinner-container">
                <!-- Your spinner HTML -->
                <div class="dot-spinner">
                  <!-- Spinner dots -->
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                  <div class="dot-spinner__dot"></div>
                </div>
              </div>
            </div>     
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
