
/* Styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  transition: background-color 0.3s;
}

th {
  background: linear-gradient(to right, #15395f, #38879b);
  text-align: center;
  color: white;
}

/* Styles for the card */
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  background: linear-gradient(to right, #15395f, #38879b);
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  font-weight: 500;
}

.card-body {
  padding: 20px;
}
.container{
  width:40%;
}
.monthSelectContainer {
  padding-top: 5%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  label {
    font-weight: bold;
    margin-right: 10px;
    color: #ffffff; // Darker color for better readability
  }

  select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: #888;
    }

    &:focus {
      border-color: #007bff; // Primary color for focus state
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }
}
