<br><br>

<br><br><br>

<div class="container">
    <div>
        <div class="card">
            <div class="card-header bg-gradient-primary">
                Employee Details
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>Check In</th>
                            <th>Check Out</th>
                            <th>Check In Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let attendance of this.employeeDetails.attendances">
                            <td>{{ attendance.checkIn | date:'h:mm a' }}</td>
                            <td>{{ attendance.checkOut | date:'h:mm  a' }}</td>
                            <td>{{ attendance.checkIn | date:'yyyy-MM-dd' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>