<h2>Select Month</h2>
<select [(ngModel)]="selectedMonth" (change)="fetchEmployeeData()" class="custom-select" aria-label="select-month">
  <option disabled selected>Select Month</option>
  <option value="1">January</option>
  <option value="2">February</option>
  <option value="3">March</option>
  <option value="4">April</option>
  <option value="5">May</option>
  <option value="6">June</option>
  <option value="7">July</option>
  <option value="8">August</option>
  <option value="9">September</option>
  <option value="10">October</option>
  <option value="11">November</option>
  <option value="12">December</option>
</select>

<h2>Employee Attendance</h2>
<div *ngFor="let employee of employees">
  <h3>{{ employee.firstName }} {{ employee.lastName }}</h3>
  <p>Attendance Days: {{ countAttendanceDays(employee) }}</p>
  <ul>
    <li *ngFor="let attendance of employee.attendances">
      {{ attendance.checkIn }} - {{ attendance.checkOut }} (Status: {{ attendance.attStatus }})
    </li>
  </ul>
</div>
