.title {
    font-size: 24px;
    font-weight: bold;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    padding: 10px 0;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
}

.btn-primary {
    width: 100%;
    margin-top: 20px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.text-center {
    text-align: center;
}

.card-header h4 {
    margin: 0;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.text-white {
    color: #fff !important;
}

.select-container {
    display: flex;
    align-items: center;
    margin: 2% auto;
}

.select-label {
    font-size: 18px;
    color: whitesmoke;
    margin-right: 10px;
}

select {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    color: #333;
    cursor: pointer;
}

select:hover {
    background-color: #f5f5f5;
}

select:focus {
    outline: none;
    border-color: dodgerblue;
}