.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
  }
  
  .notifications-card {
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 1000;
    background-color: white; /* Ensure the badge is visible against the background */
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}

.badge {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
}
.card-header{
    background-color: rgb(11, 96, 153);
    color: #f0f0f0;
    font-weight:600;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: -813px;
  }
  .hr-policies-box{
    margin-left: -100pxs
  }
  
  .hr-policies-box {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    position: absolute; /* Adjust as needed */
    z-index: 1000;
    
}

.hr-policies-box .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}


.hr-policies-box .card-body {
    padding: 20px;
}


  .space {
    margin: 0 10px;
  }
  
