<div class="container">
  <h2>Dashboard</h2>
  <div class="card">
    <div class="card-body">
      <div class="icon-container">
        <img src="../../../assets/holiday.png" alt="holiday icon" (click)="toggleOffcanvas()" data-toggle="tooltip" title="Holidays">
        <span class="icon-text">Holidays</span>
      </div>
      <div class="icon-container">
        <a href="../../../assets/DRESS CODE_PDF.pdf" download>
          <img src="../../../assets/policy.png" alt="policy icon" data-toggle="tooltip" title="Policies">
        </a>
        <span class="icon-text">Policies</span>
      </div>
      <div class="icon-container">
        <img src="../../../assets/markin.png" alt="mark in icon" (click)="markin()" data-toggle="tooltip" title="Mark In">
        <span class="icon-text">Mark In</span>
      </div>
      <div class="icon-container">
        <img src="../../../assets/markout.png" alt="mark out icon" (click)="markout()" data-toggle="tooltip" title="Mark Out">
        <span class="icon-text">Mark Out</span>
      </div>
      <div class="icon-container" *ngIf="!isAdmin()">
        <img id="listofleaves" src="../../../assets/listofleave.png" alt="mark out icon" (click)="listofleaves()" data-toggle="tooltip" title="listof_leave">
        <span class="icon-text">List of leaves</span>
      </div>
      
    </div>
  </div>

  <div class="container1">    
    <div class="calendar-container">
        <div class="calendar">
        <div class="calendar-header bg-gradient-primary">
            <button (click)="previousMonth()">&lt;</button>
            <span>{{ currentDate | date: 'MMMM yyyy' }}</span>
            <button (click)="nextMonth()">&gt;</button>
        </div>
        <div *ngFor="let leave of pendingLeaves">
          <p>Reason: {{ leave.reason }}</p>
          <p>Start Date: {{ leave.startDate }}</p>
          <p>End Date: {{ leave.endDate }}</p>
          <hr>
        </div>
        <div class="weekdays">
            <div *ngFor="let weekday of weekdays" class="weekday">{{ weekday }}</div>
        </div>
        <table class="days">
            <tr *ngFor="let week of calendar">
            <td *ngFor="let day of week" class="day" [ngClass]="{ 'absent': isAbsent(day), 'leave': isLeave(day) }" (click)="selectDate(day)">
                {{ day ? day.getDate() : '' }}
            </td>
            </tr>
            
        </table>
        <div class="legend">
          <span class="absent-color"></span>Absent
          <span class="leave-color"></span>Leave Application
          </div>
        </div>
        
    </div>
    </div>
  
 
 </div>
    <!-- Offcanvas sidebar -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" [ngClass]="{'show': showOffcanvas}">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">List of holidays</h5>
            <button type="button" class="btn-close" (click)="toggleOffcanvas()" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Holiday table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Occasion</th>
                        <th>Date</th>
                        <th>Day</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let holiday of holidays">
                        <td>{{ holiday.occasion }}</td>
                        <td>{{ holiday.date }}</td>
                        <td>{{ holiday.day }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
</div>
