<div class="container">
    <h2>Select Employee</h2>
    <select [(ngModel)]="selectedEmployee" (change)="fetchEmployeeData()" class="custom-select" aria-label="select-employee">
        <option disabled selected>Select Employee</option>
        <option *ngFor="let employee of employees; let i = index" [value]="employee.empId">{{ employee.username }}</option>
    </select>
  
    <div *ngIf="selectedEmployee">
      <div class="card">
        <div class="card-header bg-gradient-primary">
          Employee Details
        </div>
        <div class="card-body">
          <p><strong>Employee ID:</strong> {{ employeeDetails?.employee?.empIDNO }}</p>
          <p><strong>Username:</strong> {{ employeeDetails?.employee?.username }}</p>
          <p><strong>First name:</strong> {{ employeeDetails?.employee?.firstName }}</p>
          <p><strong>Last name:</strong> {{ employeeDetails?.employee?.lastName }}</p>
          <p><strong>Email:</strong> {{ employeeDetails?.employee?.email }}</p>
          <p><strong>Mobile Number:</strong> {{ employeeDetails?.employee?.mobileNo }}</p>
          <p><strong>Aadhar Card No:</strong> {{ employeeDetails?.employee?.aadhaarNo }}</p>
          <p><strong>Bank Account No:</strong> {{ employeeDetails?.employee?.bankAccountNo }}</p>
          <p><strong>IFSC No:</strong> {{ employeeDetails?.employee?.IFSCno }}</p>
          <p><strong>PAN No:</strong> {{ employeeDetails?.employee?.panNo }}</p>
          <p><strong>Joining Date:</strong> {{ employeeDetails?.employee?.joiningDate }}</p>

          <p><strong>Confirmation Date:</strong> {{ employeeDetails?.employee?.confirmationData }}</p>
          <p><strong>Blood Group:</strong> {{ employeeDetails?.employee?.bloodGroup }}</p>
          <p><strong>Present Address:</strong> {{ employeeDetails?.employee?.Present_Address }}</p>

          <p><strong>Permanent Address:</strong> {{ employeeDetails?.employee?.Permanent_Address }}</p>
          <p><strong>Emergency Contact Number:</strong> {{ employeeDetails?.employee?.emergencyNo }}</p>
          

        </div>
      </div>
      </div>
      </div>
      
  
